html, body {
	background-color: lightblue;
}

.titre{
	text-align: center;
}

nav { 
	text-align: center;
	background-color: lightblue;
	padding-top: 5px;
	padding-bottom: 5px;
}

.button{
	color: lightblue;
	background-color: #000;
	padding: 10px 10px;
	text-decoration: none;
}

footer {
	text-align: center;
}

.lienProgramme {
	text-align: center;
	font-size: 30px;
}

section {
	padding: 12px;
	margin: 50px;
	padding-top: 0px;
	border: 1px solid black;
	text-align: justify;
}