html, body {
    background-color: lightblue;
}

.nav { 
	text-align: center;
	background-color: #000;
	margin: 10px;
}

.button{
	color: lightblue;
	background-color: #000;
	padding: 10px 40px;
	text-decoration: none;
}